<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="com.change_vision.astah.ui.actionSets">
      <actionSet
            label="%action_set_label"
            visible="true"
            id="AutoREST.astah-plugin-poc.actionSet">
         <menu
               id="astah-plugin-poc"
               label="%menu_group"
               path="tool/astah-plugin-poc">
         </menu>
         <action
			   label="%menu_label"
               icon="icons/sample.gif"
               class="AutoREST.TemplateAction"
               tooltip="%menu_tooltip"
               menubarPath="tool/astah-plugin-poc/"
               id="astah-plugin-poc">
         </action>
     </actionSet>
   </extension>
</plugin>
